body {
  display: grid;
  grid-template: 300px/ 2fr 1fr;
}
.container {
  text-align: center;
  background-color: lightgrey;
}
.input {
  text-align: center;
  margin-top: 20px;
}
.hints {
  text-align: center;
  background-color: lightslategray;
}

.true {
  color: greenyellow;
}

.false {
  color: red;
}

#uitslag {
  display: block;
  background-color: lightyellow;
}
#uitslag.true {
  display: block;
  background-color: greenyellow;
}
#uitslag.false {
  display: block;
  background-color: red;
}
